<h2 class="text-center mt-4"> Les infos de réservation ! </h2>
<div class="container mt-4">
  <%= simple_form_for  [@offer, @booking] do |f| %>
    <%= f.input :date, label: "Ça commence quand ?", as: :string,  input_html: {class: "datepicker"} %>
    <%= f.input :date, label: "Jusqu'à quand", as: :string,  input_html: {class: "datepicker"} %>
    <%= f.input :small_description, label: "Un petit message pour ton con ?", placeholder: "Ex : Tu m'a l'air d'être le roi des cons ! J'ai besoin de toi "%>
    <%= f.input :address, label: "La fête se passe où?" %>
    <div class="text-center">
      <%= f.submit "Je crée mon profil de con", class: "btn btn-outline-success mb-4" %>
    </div>
  <% end %>
</div>
