<div class="main-container">
  <div class="container-card">
    <div class="cards">
      <% @offers.each do |offer| %>
          <div class="m-3" style="width: 300px;">
            <div class="card-user card border border-info shadow-0 mb-3">

              <div class="card-photo"> <%= cl_image_tag offer.photos.first.key if offer.photos.attached? %>

                <div class="card-body" style="height: 170px">
                  <%= link_to offer_path(offer), class: "link" do %>
                  <div class="row">
                    <div class="col-8"> <h2 class="card-name"> <%=offer.user.firstname %> </h2>
                    </div>
                    <div class="col"><p><span style="font-size: 10px; color: #DBBA00;"><i class="fas fa-star"></i>&nbsp; &nbsp;<span style="font-size: 12px">4,5<span>
                    </div>
                  </div>
                    <h5 class="card-desciption"><%= offer.small_description =%></h5>
                    <p>Tags: <%= raw offer.tag_list.map {|t| link_to t , tag_path(t)}.join(', ')%></p>
                    <p class="card-price"><%= offer.hour_rate %>€ / heure </p>
                    <%end%>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-markers="<%= @markers.to_json %>">
  </div>
</div>