<div class="container">
<%= simple_form_for [ @offer ] do |f| %>
  <%= f.input :small_description %>
  <%= f.input :description %>
  <%= f.input :hour_rate %>
  <%= f.input :availability_start_date %>
  <%= f.input :availability_end_date %>
  <%= f.input :availability_start_hour %>
  <%= f.input :availability_end_hour %>
  <%= f.input :city %>
  <%= f.input :radius %>
  <%= f.input :address %>
  <%= f.submit "Submit offer", class: "btn btn-primary" %>
<% end %>
</div>
