<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<section>
    <div class="container">


        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <ul class="carousel__slides">
                <% @offer.photos.each do |photo| %>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <%= cl_image_tag photo.key %>
                            </div>
                        </figure>
                    </li>
                <% end %>
            </ul>
            <ul class="carousel__thumbnails">
                <% sum = 0 %>
                <% @offer.photos.each do |photo| %>
                    <li>
                        <label for="slide-<%= "#{sum += 1}" %>"><%= cl_image_tag photo.key %></label>
                    </li>
                <% end %>


            </ul>
        </div>
    </div>
</section>
  <div class="container-fluid">
    <div class="p-3 color rounded-3">
        <h1 class= "title"><%= "#{@offer.user.firstname}, #{@offer.user.lastname}" %></h1>
        <h2 class= "title size"><%= @offer.small_description %></h2>
        <h3><%=@offer.address%></h3>
        <p><%= @offer.small_description %></p>
        <div class="center">
        <%= link_to "Book this dumbass", new_offer_booking_path(@offer), class: "btn btn-outline-info" %>
        <%= link_to "Go back to dummies", offers_path, class: "btn btn-outline-info" %>
        <%= link_to "Réserver cette pépite", "offers_path", class: "btn btn-outline-info" %>
        <%= link_to "Je peux trouver mieux", offers_path, class: "btn btn-outline-info" %>
        </div>
    </div>
    <hr>
  </div>